<section class="flex flex-wrap items-center justify-between gap-3 px-4 py-3">
    <div class="mx-auto max-w-3xl text-sm">
        <button id="pagePrevB"
            class="px-3 py-1 rounded-xl bg-slate-200 hover:bg-slate-300 text-slate-700 disabled:opacity-40 disabled:cursor-not-allowed dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700">
            <</button>
                <span id="pageInfoB" class="mx-8 inline-block text-slate-600 dark:text-gray-300">—</span>
                <button id="pageNextB"
                    class="px-3 py-1 rounded-xl bg-slate-200 hover:bg-slate-300 text-slate-700 disabled:opacity-40 disabled:cursor-not-allowed dark:bg-gray-800 dark:text-gray-200 dark:hover:bg-gray-700">></button>
    </div>
</section>